@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h2>@ViewBag.Title SpeedTyper</h2><br />

    <p>
        SpeedTyper is fun application designed to encourage proper but fast typing. <a href="https://github.com/skylerh15/SpeedTyper-desktop">Originally a desktop application</a>, I am now bringing it to the web!
        <br />
        <a href="https://github.com/skylerh15/SpeedTyper-web">View source code on GitHub!</a><br />
        Enjoy!<br /><br />
        Skyler<br/><br/>
        @Html.Action("RankInfo", "Home")
    </p>
</div>