@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title SpeedTyper</h2><br/>

<p>
    SpeedTyper is fun application designed to encourage proper but fast typing. Originally a desktop application, I am now bringing it to the web!
    <br />
    <a href="https://github.com/skylerh15/SpeedTyper-web">View source code on GitHub!</a><br />
    Enjoy!<br /><br />
    Skyler
</p>
