@{
    ViewBag.Title = "Contact Me!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Email:</strong>   <a href="mailto:skylerhiscock@gmail.com">skylerhiscock@gmail.com</a><br />
    <strong><a href="https://www.linkedin.com/in/skyler-hiscock-32a4a8a6">LinkedIn</a></strong><br/>
    <strong><a href="https://github.com/skylerh15/">GitHub</a></strong>
</address>