@model SpeedTyper.WebUI.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 id="greeting">Welcome, @Model.Greeting!</h2>
    <h3>Press 'Start Test' to start a typing test!</h3>
    @if (!Request.IsAuthenticated)
    {
        <h5>You can take tests as a guest, but you must register/login to submit to the leaderboard!</h5>
    }
    @Html.Action("DisplayTest", "TestTaker")
    @if (Request.IsAuthenticated)
    {
        @Html.Action("ProgressBar", "ProgressBar", new { currentXP = Model.User.CurrentXP, xpToLevel = Model.User.XPToLevel, previousLevelXPToLevel = Model.PreviousLevelXPToLevel})
    }
</div>