@model SpeedTyper.DataObjects.TestData
@{
    Layout = null;
}

<div class="form-group">
    @Html.TextAreaFor(t => t.TestDataText, new {@class="form-control", rows="3" })
    @Html.DisplayFor(t => t.DataSource)
</div>
