@*@model SpeedTyper.DataObjects.TestData*@
@{
    Layout = null;
}
@Scripts.Render("~/bundles/jquerysignlr")

<script src="~/signalr/hubs"></script>

@Scripts.Render("~/bundles/testtaker")

<div class="form-group">
    <div id="test-statistics">
        <label for="userSpeed">Your Speed:</label>
        <text id="userSpeed"></text><br />
        <label for="timeLeft">Time Left:</label>
        <text id="timeLeft"></text>
    </div>
    <div class="well">
        <p class="test-data-text" id="correct-words"></p><p class="test-data-text" id="untyped-words"></p>
    </div>
    <p id="data-source"></p><br />
    <div>
        <input class="form-control" id="txtTextEntryBox" name="txtTextEntryBox" type="text" onchange="processInput();" onpaste="this.onchange();" oninput="this.onchange();" style="display:inline"/>
        <input type="button" id="start-test" value="Start Test"  />
    </div>
    <br /><br />
</div>