@{
    Layout = null;
}
@Scripts.Render("~/bundles/jquerysignlr")

<script src="~/bundles/sha1"></script>
<script src="~/signalr/hubs"></script>

@Scripts.Render("~/bundles/testtaker")
<div class="form-group">
    <div id="test-statistics">
        <label for="user-speed">Your Speed:</label>
        <text id="user-speed"></text><br />
        <label for="time-left" class="test-data-text">Time Left:</label>
        <text id="time-left" class="test-data-text"></text>
    </div><br/><br/>
    <div id="test-data" class="well">
        <p class="test-data-text" id="correct-words"></p><p class="test-data-text" id="current-word"></p><p class="test-data-text" id="untyped-words"></p>
    </div>
    <p id="data-source"></p><br />
    <div>
        <input class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="txtTextEntryBox" name="txtTextEntryBox" type="text" style="display:inline" readonly="readonly"/>
        <input class="btn btn-primary" type="button" id="start-test" value="Start Test"  />
    </div>
    <div id="dialog-submission" title="Congrats!">
        <p id="dialog-submission-message">
        </p>
    </div>
    <div id="dialog-reward" title="Congrats!">
        <p id="dialog-reward-message">
        </p>
    </div>
</div>
