body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: dimgrey;
}

footer{
    color: lightskyblue;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

textarea{
    max-width: 100%;
}

#test-statistics {
    width:150px;
    background-color: lightgray;
}

#correct-words {
    color: green;
}

#current-word {
    background-color: yellow;
}

.test-data-text {
    display:inline;
}

#hr-footer{
    border-color: dimgrey;
}

#rank-info{
    max-width: 50%;
    margin: 0 auto;
}

.rank-info-text{
    text-align: center;
}

#blizz-text{
    font-size: 12px;
}

.table{
    background-color: white;
}

.jumbotron{
    margin-top: 20px;
    padding-top: 10px;
}

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}